.venv/
.vscode/
docker_images
src/log.txt
src/__pycache__/
src/postgres/__pycache__/
src/config/__pycache__/
src/data_retrieval/__pycache__/
src/config/my_secrets.py
data/processed/muse.com/*
data/processed/okjob.io/*
data/processed/reed.co.uk/*
data/raw/*
log.txt
log*.txt