.venv/
.vscode/
docker/persitant_data
src/data_retrieval/reed_locations.py.bak
src/data_retrieval/logger.py
src/transform/postgres*
src/transform/check*
src/transform/logger.py
src/transform/__pycache__
src/log.txt
src/__pycache__/
src/postgres/__pycache__/
src/postgres/set_env.bat
src/postgres/set_env.ps1
src/config/__pycache__/
src/data_retrieval/__pycache__/
src/config/my_secrets.py
docker/postgres_data/*
docker/logs/*
data/processed/muse.com/*
data/processed/okjob.io/*
data/processed/reed.co.uk/*
data/raw/*
data/*
log.txt
log*.txt
docker/data/*
src/config.py
src/set_env.ps1
src/constants.py.bak
src/model_creation/logger.py
src/model_creation/postgres_initdb.py
src/model_creation/postgres_queries.py
src/postgres/logger.py
src/api/postgres_initdb.py
src/api/postgres_queries.py
src/api/logger.py